body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    background-image: url('backgroundimage.jpg'); /* Replace 'background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background: rgba(5, 8, 48, 0.69);
   
    padding: 50px;
    border-radius: 15px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 7px;
    border: 1px solid #f9f2f26a;
    border-radius: 5px;
}

.login {
    padding: 10px 20px;
    background-color: #050a0e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.navbar {
    overflow: hidden;
    background-color: #000000;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #0c0744;
    color: white;
}

